syntax:glob
.git
.hg
.venv/
.coverage
.pytest_cache/
.nox/
.local/
.pdm.toml
.pdm-build/
_data/
_ext/
_trash/
_artifacts/
_build/
build/

Docs/media/

__pycache__
__pypackages__
envs/
.ipynb_checkpoints/
*.ipynb
*.sage-jupyter2
*.term
*.orig
*.egg-info/